<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MySurfBoardsApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DE947BC274352CA001FE618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE947D4274352CA001FE618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE947DF274352CB001FE618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
